@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400;1,700;1,900&family=Luckiest+Guy&family=Poppins:ital,wght@0,600;0,700;0,900;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #041C32 !important;
  color: #fff !important;
  font-family: "Lato",sans-serif !important;
  width: 100vw !important;
  overflow-x: hidden !important;
  position: relative;
}

.nav{
  display: flex !important;
  justify-content: space-between !important;
  background-color: #2C394B ;
  padding: 10px 20px  !important;
  
}

.navbar{
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
  padding: 7px 30px  !important;
  position: absolute !important;
  top: 5px;
  left: 0;
  right: 20px !important;
  z-index: 1;

}
nav .logo{
  display: flex !important;


 
}

nav .logo .image{
  height: 30px;
  width: 30px;
  margin-right:5px ;
  /* margin-bottom: 10px; */
}

nav .logo .image img{
  height: 100% ! important;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}
nav .logo .text{
  line-height: 30px;
  font-size: 20px;
  font-family: 'Lato',sans-serif;
  font-weight: 900;

}

nav ul {
  display: block !important;
  list-style: none;
}
nav ul li{
  display: inline-block !important;
  
  margin-left: 6px !important;
}
nav ul li .nav-link{
  text-decoration: none !important;
  /* color: #ccc !important; */
  font-weight: 400;
  font-family: "Lato",sans-serif !important;
  font-size: 16px !important;
  cursor: pointer !important;
  line-height: 20px !important;
}
nav ul li span{
  color: #ccc !important;
}
nav ul li .nav-link:hover{
  color: #FFC300 !important;
}


.search-form{
  position: relative !important;
}
.search-form .form-control{
  height: 40px !important;
  width: 300px !important;
  padding: 0 10px 0 40px !important;
  border-radius: 30px !important;
  border: none !important;
  outline: none !important;
  background-color: rgba(238, 235, 221,0.2) !important;
  color: #9D9D9D !important;
  margin-bottom: 5px !important;
  margin-left: 30px !important;
}
.search-form svg{
  position: absolute !important;
  top: 25% !important;
  left: 38px !important;
  color: #9D9D9D !important;
  cursor: pointer !important;
}
.search-form .form-control::placeholder{
  font-size: 15px !important;
  color: #ccc !important;
}
/* .register{
  margin-left: 40px !important;
} */

.register a {
  display: flex !important;
  color: #fff !important;
  line-height: 30px ;
  text-decoration: none;
  font-family: "Lato",sans-serif;
  font-weight: 400;
}
.register a svg{
  margin: 5px 10px 0 0;
}
.dropdown-menu{
  background-color: #FFC300 !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
  align-items: center !important;
  height: 40px !important; 
  padding: 10px !important;
  border-radius: 100px !important;
  color: #333 !important;
  cursor: pointer !important;
  min-width: 100px !important;
  position: relative !important;
  /* margin-left: 30px !important; */
}

.dropdown-menu:hover{
  background-color: #F0A500 !important;
}
.dropdown-button{
  display: flex !important;

}

.dropdown-menu .dropdown-button p{
  overflow: hidden !important;
  width: 100% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  margin-right: 5px !important;
  margin-top: 13px;
  
}

.dropdown-menu .dropdown-btn{
  /* margin:; */
  font-size: 17px !important;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
}
.menu{
  position: absolute ;
  top: 50px;
  width: 170px;
  right: 5px;
  background-color: #fff;
  padding: 5px 0;
  border-radius: 5px;
  
}

.menu .menu-link {
  color: rgb(49, 45, 45) !important;
  font-size: 15px !important;
  width: 100% !important;
  padding: 5px 15px !important;
  
}


.signOut-btn  .icon{
  margin-bottom: 8px !important;
  /* margin-right: 5px; */
}
.menu a:hover{
  background-color: #eee;
  border-radius: 5px;
  width: 100%;
}
.signOut-btn{
  background-color: transparent;
  border: none;
  font-size: 15px;
  padding: 8px  55px 8px 0;
  width: 100%;
  color: rgb(49, 45, 45);
  /* margin-top: 5px; */
  cursor: pointer;

  
}
.signOut-btn:hover{
  background-color: #eee;
  
}
.user-menu{
  border-bottom: 1px solid #333;
  padding-bottom: 4px;
  
}
.signOut-btn .icon{
  margin-top: 8px;
  margin-right: 5px;

}
/* //carousel  */
.carousel-wrapper{
  height: 98vh!important;
  width: 100% !important;
  position: relative;
 
}
.wrapper img{
  height:98vh !important;
  width: 100vw !important;
  object-fit: cover !important;
  /* box-shadow: 40px 40px 100px rgba(79, 87, 129, 0.8) inset !important; */
  filter: brightness(60%);

}
.ca-caption{
  position: absolute !important;
  left: 30px !important;
  right: 50% !important;
  bottom: 80px !important;
  text-align: left !important;
  color: #f4f4f4;
}
.ca-caption h3{
  text-align: left !important;
}
.movie-details p{
  display: inline-block;
  /* color: #f4f4f4; */
  /* m !important; */
}
.movie-details p:first-child{
  padding: 1px 13px !important;
  background-color: #F0A500;
  font-size: 13px !important;
  margin-right: 20px;
  color: #333 !important;
  border-radius: 15px !important;
}
.movie-details p:nth-child(2){
  font-weight: 500;
  margin-right: 20px;
  color: #fff;
  
}
.rating{
  color: #fff !important;
}

.rating .star{
  margin-right: 5px;
  /* margin-bottom: 10px; */
}
.rating .voting-average{
  display: inline-block;
  /* margin-top: 5px !important; */
  
}
.movie-details p:last-child{
  text-transform: capitalize;
  color: #ccc;
}
.ca-caption p{
  text-align: left;
  /* color: #ccc ; */
 
}

.play{
  background-color: transparent;
  color: #F0A500;
  border: 1px solid #F0A500;
  outline: none;
  padding: 6px 25px;
  font-size: 14px;
  border-radius: 25px;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}
.add-watchlist{
  background-color: transparent;
  color: #9D9D9D;
  border:1px solid #9D9D9D;
  outline: none;
  padding: 6px 25px;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}
.play:hover{
  background-color: #F0A500;
  color: #333;
}
.add-watchlist:hover{
  background-color: #9D9D9D;
  color: #333;
}

.play .play-icon,.add-watchlist .heart{
  margin-right: 5px;
  margin-bottom: 3px;
}


.sectionForm{
  height: calc(120vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.formInput{
  background-color: #2C394B;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  /* margin: 30px 0; */
  box-shadow: 0 3px 4px rgba(79, 87, 129, 0.3);
 
}
.formInput h2{
  font-size: 26px;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 30px;
  color: #9D9D9D;
}
.formInput .alert {
  margin-left: 30px;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(224, 197, 197);
  color: rgb(228, 88, 88);
  width: 400px;
  border-radius: 5px;
}
.formInput .features{
  margin:10px  30px;
  color: #9D9D9D;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-group{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form-group label{
  font-size: 17px;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  color: #9D9D9D;
}
.form-group .form-control{
  height: 45px;
  width: 400px;
  border-radius: 40px;
  outline: none;
  border: none;
  padding: 10px 10px 10px 20px;
  font-size: 15px;
  font-family: "Lato",sans-serif;
  background-color: #ddd;
}
/* .form-group{
  display: inline-block;
  margin-top: 10px;
} */
.form-group .forgot a{
  text-decoration: none;
  color: #F0A500;
  font-size: 14px;
  font-family: "Lato",sans-serif;
  float: right;
  margin-top: 10px;
  
}
.formCheck input{
  margin-top: 20px;
  float: left;
}
.button{
  margin-top: 30px;
}
.button .btn{
  padding: 15px 180px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #FFC300;
  font-size: 15px;
  cursor: pointer;
}
.button .btn:hover{
  background-color: #F0A500;
}
.form-link{
  color: rgb(128, 125, 125);
  margin-top: 20px;
}
.form-link a{
  margin-left: 10px;
  text-decoration: none;
  color: #FFC300;
}
.form-reg-link:hover{
  color: #F0A500;
}

/* about page  */
.about{
  margin-left: 30px;
  margin-top: 40px;
}
.about h2{
  font-size: 25px !important;
  color: rgb(128, 125, 125);

}
.about p{
  color: rgb(128, 125, 125);
  font-size: 15px;
  word-spacing: 1px;
}
.share-socials{
  text-align: center;
  margin-bottom: 20px;
}
.facebook,
.twitter,
.email,
.pinterest,
.whatsapp,.telegram{
  padding: 3px 12px;
  font-size: 13px;
  border: none;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
.social-icon{
  margin-bottom: 3px;
}
.facebook{
  background-color: #4267B2;
}
.twitter{
  background-color: #00acee;
}
.email{
  background-color: 	#9D9D9D;
}
.pinterest{
  background-color: #E60023;
}
.whatsapp{
  background-color: #25D366;
}
.telegram{
  background-color:  #229ED9;
}

/* recommend movies section  */
.recommend-movies{
  margin-top: 30px;
  padding: 0 30px;
}
.recommend-menu h3{
  display: inline-block !important;
  color: rgb(128, 125, 125)!important;
  font-weight: 300 !important;
  
 
  /* border-bottom: 1px solid rgb(182, 180, 180); */
}
.recommend-menu h3 span{
  display: inline-block;
  width: 80%;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(128, 125, 125);
  font-size: 30px !important;
}
.recommend-menu ul{
  display: inline-block !important;
}
.recommend-menu ul li{
  display: inline-block;
  list-style: none;
}
.recommend-menu ul li .recommend-navLink{
  background-color: rgb(44, 43, 43);
  padding: 5px 12px;
  color: rgb(128, 125, 125);
  text-align: center;
  margin-left: 10px;
  font-size: 13px;
  text-decoration: none;
  border-radius: 3px;
}
.recommend-navLink:hover{
  color: #ccc !important;
  background-color: rgb(73, 71, 71) !important;
}
.recommend-navLink .movie-icon{
  margin-bottom: 4px;
  margin-right: 3px;
}
.movie-wrapper{
  margin-top: 20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-column-gap: 1em;
  grid-row-gap: 2em;
}
.movie-card{
  position: relative;
}
.movie-card .movie-link{
  text-decoration: none;
}
.movie-wrapper .movie-img{
  width: 100%;
  height: 300px;
 
}
.movie-wrapper .movie-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  filter: brightness(90%);

}
.movie-hd-tag{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f4f4f4;
  color: #333;
  font-size: 13px;
  /* padding-bottom:0; */
  font-family: "Lato",sans-serif;
  padding:0 2px;
  border-radius: 3px;
  text-decoration: none;
  
}
.movie-wrapper .movie-img img:hover{
  filter: brightness(60%);
}
.movie-info .movie-title{
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 3px;
  margin-top: 5px;
  text-decoration: none;
  color: #f4f4f4 !important;
 
}

.movie-footer{
  color: rgb(128, 125, 125);
  /* display: flex; */
  
  
  
}
.movie-footer .year {
  font-size: 13px !important;
  text-decoration: none;
  float: left;
  /* display: inline-block; */
  /* margin-right: 112px; */
}
.movie-footer .year span:nth-child(2){
  margin-left: 8px;
}
.movie-footer .year span:last-child{
  margin-left: 8px;
}
.movie-footer .year .dot{
 font-size: 4px;
 
}

.movie-footer .year .dot .dot-circle{
  margin-bottom: 6px;
}
.movie-tag{
  float: right;
  border: 1px solid rgb(128, 125, 125);
  padding: 0 4px;
  margin-bottom: 5px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.no-hover{
  display: none;
}
.movie-overview{
  position: absolute;
  top: 30%;
  left: 35%;
  display: flex;
  z-index: 1;

 
}
.movie-play-icon{
  position: relative;
}
.movie-play-icon p{
  color: #F0A500;
  background-color: rgba(0,0,0,0.5);
  height: 60px;
  width: 60px;
  /* padding: 20px; */
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  border: 2px solid #F0A500;
  border-radius: 50%;

}
.movie-overview-wrapper{
  background-color: #2C394B;
  width: 280px;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 130px;
  
}
.movie-card:nth-child(6) .movie-overview-wrapper{
  /* right: 200px; */
  left: -355px;
}
.movie-card:nth-child(5) .movie-overview-wrapper{
  left: -355px;
}
.movie-card:nth-child(11) .movie-overview-wrapper{
  left: -355px;
}
.movie-card:nth-child(17) .movie-overview-wrapper{
  left: -355px;
}
.movie-card:nth-child(18) .movie-overview-wrapper{
  left: -355px;
}
.movie-card:nth-child(12) .movie-overview-wrapper{
  left: -355px;
}

.movie-card:nth-child(6) .movie-overview-wrapper{
  margin-right: 600px;
  margin-left: 0;
} 
.movie-overview-wrapper h3{
  font-size: 16px !important;
  color: #fff;
}
.movie-overview-info{
  display: flex;
  justify-content: space-between;
  color:  rgb(128, 125, 125);
  font-size: 14px;
  padding: 0;
  margin-bottom: 5px;
}
.movie-overview-info .movie-rating{
  color: #fff;
  font-weight: 300;
}
.movie-overview-info .movie-rating .rate-icon{
  color: #FFC300;
  margin-bottom: 5px;
  margin-right: 7px;
}
.movie-overview-info .overview-tag{
  background-color: #FFC300;
  height: 15px;
  width: 40px;
  font-size: 12px !important;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: #000;
}
.movie-container{
  position: relative;
  width: 100%;
}

.country{
  margin: 0;
}
.country span:first-child{
  margin-right: 5px;
}
.genre{
  margin-bottom: 10px;
  /* padding-right: 10px; */
    
}
.genre span:first-child{
  margin-right: 5px;
}
.genre .genre-item,.country .country-item{
  font-size: 11px;
  word-spacing: 3px;
  /* padding: 5px; */
}
.genre,.country{
  font-size: 13px;
  color: rgb(128, 125, 125);
}
.overview-button{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.watch-now-btn{
  /* padding: 0 20px; */
  margin: 0;
  height: 40px;
  width: 180px;
  border: none;
  background-color: #041C32;
  border-radius: 40px;
  color: #ccc;
  /* text-align: center; */
  font-size: 14px;
}
.watchnow-icon{
  color: #FFC300;
  margin-bottom: 3px !important;
  margin-right: 3px;
}
.watchlist-icon{
  background-color: #F473B9;
  padding: 4px 5px;
  text-align: center;
  margin-top:5px;
  color: #f4f4f4;
  border-radius: 7px;
}
.movie-overview-details{
  color: rgb(128, 125, 125);
  font-size: 14px;
  margin-top: 5px;
}

/* Latest movies section */
.latest-movies{
  margin-top: 30px;
  padding: 0 30px;
}
.latest-menu{
  display: flex;
  justify-content: space-between;

}
.latest-menu h3 span{
  display: inline-block;
  /* width: 97%; */
  padding-bottom: 3px;
  border-bottom: 1px solid rgb(128, 125, 125);
  font-size: 30px !important;
  font-weight: 300 !important;
  color: rgb(128, 125, 125)!important;
}
.latest-menu .latest-movies-link{
  text-decoration: none;
  color: #FFC300;
  font-size: 14px;

}
.view-all-link{
  margin-right: 15px;
  margin-left: 5px;
  margin-bottom: 3px;
}