@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400;1,700;1,900&family=Luckiest+Guy&family=Poppins:ital,wght@0,600;0,700;0,900;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #082032 !important;
  color: #fff !important;
  font-family: "Lato",sans-serif !important;
  width: 100vw !important;
  overflow-x: hidden !important;
}
nav{
  display: flex !important;
  justify-content: space-around !important;
  background-color: #2C394B ;
  padding: 10px 20px !important;

}
nav .logo{
  display: flex !important;

 
}

nav .logo .image{
  height: 30px;
  width: 30px;
  margin-right:5px ;
  margin-top: 10px;
}

nav .logo .image img{
  height: 100% ! important;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}
nav .logo .text{
  line-height: 50px;
  font-size: 20px;
  font-family: 'Lato',sans-serif;
  font-weight: 900;

}

nav ul {
  display: block;
  list-style: none;
}
nav ul li{
  display: inline-block !important;
  line-height: 30px !important;
  margin-left: 10px !important;
}
nav ul li .nav-link{
  text-decoration: none !important;
  color: #ccc !important;
  font-weight: 400;
  font-family: "Lato",sans-serif !important;
  font-size: 16px !important;
  cursor: pointer !important;
}

.search-form{
  position: relative !important;
}
.search-form .form-control{
  height: 45px !important;
  width: 300px !important;
  padding: 0 10px 0 40px !important;
  border-radius: 30px !important;
  border: none !important;
  outline: none !important;
  background-color: rgba(238, 235, 221,0.2) !important;
  color: #ccc !important;
  margin-bottom: 5px !important;
}
.search-form svg{
  position: absolute !important;
  top: 20% !important;
  left: 10px !important;
  color: #ccc !important;
  cursor: pointer !important;
}
.search-form .form-control::placeholder{
  font-size: 15px !important;
  color: #ccc !important;
}
.register{
  margin-left: 30px ;
}

.register a {
  display: flex !important;
  color: #fff !important;
  line-height: 30px ;
  text-decoration: none;
  font-family: "Lato",sans-serif;
  font-weight: 400;
}
.register a svg{
  margin: 5px 10px 0 0;
}
.dropdown-menu{
  background-color: #FFC300 !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
  align-items: center !important;
  height: 40px !important; 
  padding: 10px !important;
  border-radius: 100px !important;
  color: #333 !important;
  cursor: pointer !important;
  min-width: 100px !important;
  position: relative !important;
 
}

.dropdown-menu:hover{
  background-color: #F0A500 !important;
}
.dropdown-button{
  display: flex !important;

}

.dropdown-menu .dropdown-button p{
  overflow: hidden !important;
  width: 100% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  margin-right: 5px !important;
  margin-top: 13px;
  
}

.dropdown-menu .dropdown-btn{
  /* margin:; */
  font-size: 17px !important;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
}
.menu{
  position: absolute ;
  top: 50px;
  width: 170px;
  right: 5px;
  background-color: #fff;
  padding: 5px 0;
  border-radius: 5px;
  
}

.menu .menu-link {
  color: rgb(49, 45, 45) !important;
  font-size: 15px !important;
  width: 100% !important;
  padding: 5px 15px !important;
  
}


.signOut-btn  .icon{
  margin-bottom: 8px !important;
  /* margin-right: 5px; */
}
.menu a:hover{
  background-color: #eee;
  border-radius: 5px;
  width: 100%;
}
.signOut-btn{
  background-color: transparent;
  border: none;
  font-size: 15px;
  padding: 8px  55px 8px 0;
  width: 100%;
  color: rgb(49, 45, 45);
  margin-top: 5px;
  cursor: pointer;

  
}
.signOut-btn:hover{
  background-color: #eee;
  
}
.user-menu{
  border-bottom: 1px solid #333;
  padding-bottom: 4px;
  
}
.signOut-btn .icon{
  margin-top: 8px;
  margin-right: 5px;

}
/* //carousel  */
.carousel-wrapper{
  height: calc(100vh - 90px) !important;
  width: 100% !important;
}
.wrapper img{
  height: 87vh !important;
  width: 100vw !important;
  object-fit: cover !important;


}
.ca-caption{
  position: absolute !important;
  left: 20px !important;
  right: 50% !important;
  bottom: 60px !important;
  text-align: left !important;
  color: #f4f4f4;
}
.ca-caption h3{
  text-align: left !important;
}
.movie-details p{
  display: inline-block;
  /* color: #f4f4f4; */
  /* m !important; */
}
.movie-details p:first-child{
  padding: 1px 13px !important;
  background-color: #F0A500;
  font-size: 13px !important;
  margin-right: 20px;
  color: #333 !important;
  border-radius: 15px !important;
}
.movie-details p:nth-child(2){
  font-weight: 500;
  margin-right: 20px;
  
}

.rating .star{
  margin-right: 5px;
}
.rating .voting-average{
  display: inline-block;
  /* margin-top: 5px !important; */
  
}
.movie-details p:last-child{
  text-transform: capitalize;
}
.ca-caption p{
  text-align: left;
  /* color: #f4f4f4 !important; */
 
}
.play{
  background-color: transparent;
  color: #F0A500;
  border: 1px solid #F0A500;
  outline: none;
  padding: 6px 25px;
  font-size: 14px;
  border-radius: 25px;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}
.add-watchlist{
  background-color: transparent;
  color: #9D9D9D;
  border:1px solid #9D9D9D;
  outline: none;
  padding: 6px 25px;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}
.play:hover{
  background-color: #F0A500;
  color: #333;
}
.add-watchlist:hover{
  background-color: #9D9D9D;
  color: #333;
}

.play .play-icon,.add-watchlist .heart{
  margin-right: 5px;
}


.sectionForm{
  height: calc(110vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.formInput{
  background-color: #2C394B;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  /* margin: 30px 0; */
  box-shadow: 0 3px 4px rgba(79, 87, 129, 0.3);
 
}
.formInput h2{
  font-size: 26px;
  font-weight: 400;
  text-transform: capitalize;
  margin-left: 30px;
  color: #9D9D9D;
}
.formInput .alert {
  margin-left: 30px;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(224, 197, 197);
  color: rgb(228, 88, 88);
  width: 400px;
  border-radius: 5px;
}
.formInput .features{
  margin:10px  30px;
  color: #9D9D9D;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-group{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form-group label{
  font-size: 17px;
  font-family: "Lato",sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
  color: #9D9D9D;
}
.form-group .form-control{
  height: 45px;
  width: 400px;
  border-radius: 40px;
  outline: none;
  border: none;
  padding: 10px 10px 10px 20px;
  font-size: 15px;
  font-family: "Lato",sans-serif;
  background-color: #ddd;
}
/* .form-group{
  display: inline-block;
  margin-top: 10px;
} */
.form-group .forgot a{
  text-decoration: none;
  color: #F0A500;
  font-size: 14px;
  font-family: "Lato",sans-serif;
  float: right;
  margin-top: 10px;
  
}
.formCheck input{
  margin-top: 20px;
  float: left;
}
.button{
  margin-top: 30px;
}
.button .btn{
  padding: 15px 180px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #F0A500;
  font-size: 15px;
  cursor: pointer;
}
.form-link{
  color: #9D9D9D;
  margin-top: 20px;
}
.form-link a{
  margin-left: 10px;
  text-decoration: none;
  color: #F0A500;
}

